body {
  padding-top: 70px;
}

.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.post .post__content {
  padding-bottom: 19px;
}

.btn-add-new-post {
  position: fixed;
  color: white;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
}

.btn-add-new-post:hover {
  color: red;
}
