<div class="row">
  <div class="col-4 mx-auto">

    <div class="card">
      <div class="card-header">
        <p class="h5 text-center">
          Sign in
        </p>
      </div>
      <div class="card-body">
        <form role="form" ng-submit="vm.login()">
          <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

          <div class="form-group">
            <i class="fa fa-envelope prefix grey-text text-center"></i>
            <label for="login__email">Email</label>
            <input type="text" ng-required="true" class="form-control" id="login__email" ng-model="vm.email" placeholder="ex. john@example.com" />
          </div>

          <div class="form-group">
            <i class="fa fa-lock prefix grey-text text-center"></i>
            <label for="login__password">Password</label>
            <input type="password" ng-required="true" class="form-control" id="login__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
